<ion-content padding>
  <ion-label>
    Header
  </ion-label>
  Header
  <button ion-button>
    Header
  </button>
  <br>
  <button ion-button>
    Footer
  </button>
  <br>
  <button ion-button>
    Toolbar
  </button>
  <br>
  <button ion-button>
    Alert
  </button>
  <br>
  <button ion-button>
    ActionSheet
  </button>
  <br>
  <button ion-button>
    Datetime
  </button>
  <br>
  <button ion-button>
    FABs
  </button>
  <br>
  <button ion-button>
    Grid
  </button>
  <br>
  <button ion-button>
    Icon
  </button>
  <br>
  <button ion-button>
    Inputs
  </button>
  <br>
  <button ion-button>
    Lists
  </button>
  <br>
  <button ion-button>
    Loading
  </button>
  <br>
  <button ion-button>
    Menu(sidebar)
  </button>
  <br>
  <button ion-button>
    Modal
  </button>
  <br>
  <button ion-button>
    Range
  </button>
  <br>
  <button ion-button>
    SearchBar
  </button>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <br>
  <button ion-button>
    Segments(상단탭)
  </button>
  <br>
  <button ion-button>
    Select
  </button>
  <br>
  <button ion-button>
    Slide
  </button>
  <br>
  <button ion-button>
    Tab(하단탭)
  </button>
  <br>
  <button ion-button>
    Toast
  </button>
  <br>
  <button ion-button>
    Toggle
  </button>
  <br>
  <button ion-button>
    Toolbar(하단 고정바)
  </button>
  <br>
  <button ion-button>
    SearchBar in Toolbars(하단 고정바)
  </button>
  <br>
  <ion-label floating>Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-content>
